<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= product.image_link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= product.lat %>
  </p>

  <p>
    <strong>Long:</strong>
    <%= product.long %>
  </p>

  <p>
    <strong>Youtube video path:</strong>
    <%= product.youtube_video_path %>
  </p>

</div>
